@media only screen and (max-width: 620px){
	nav ul li{
		display: block;
		width: 0;
		text-align: center;
	}

	#about{
		margin-top: 10vh;
	}
}

@media only screen and (max-width: 1000px){
	.header{
		float:right;
	}

}